html,
body {
    max-width: 1920px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#bg-video {
    position: fixed; /* Đảm bảo video nằm trên */
    top: 0;
    left: 0;
    width: 100%;
    height: 1080px;
    object-fit: cover; /* Đảm bảo video bao phủ toàn bộ chiều rộng và chiều cao */
    z-index: 1; /* Đảm bảo video nằm trên */
    pointer-events: none; /* Đảm bảo video không cản trở thao tác với các phần tử khác */
    overflow: hidden;
}
.scroll-container {
    width: 100%;
    height: 100%;
    overflow: auto; /* Cho phép cuộn nội bộ */
    -ms-overflow-style: none; /* Ẩn thanh cuộn cho IE và Edge */
    scrollbar-width: none; /* Ẩn thanh cuộn cho Firefox */
}

.scroll-container::-webkit-scrollbar {
    display: none; /* Ẩn thanh cuộn cho Webkit (Chrome, Safari) */
}
.container-fixed {
    position: relative;
    width: 100%;
    height: 3629px;
    z-index: 3; /* Đảm bảo nội dung nằm trên video */
    margin-top: 100px;
}
.main-content {
    width: 100%;
    height: 3629px;
    margin: 0 auto; /* Căn giữa container theo chiều ngang */
    overflow: hidden;
    z-index: 3;
}

.container-2 {
    width: 100%;
    height: 3629px;
    box-sizing: border-box;
    z-index: 3;
}
.content-a {
    width: 100%;
    height: 690px;
}
.content-b {
    width: 100%;
    height: 2549px;
}
/* Navigation styles */
.nav-container {
    width: 100%;
    height: 120px;
    padding: 20px 0; /* Điều chỉnh padding nếu cần */
    background: linear-gradient(
        0deg,
        rgba(0, 46.78, 92.44, 0.8) 0%,
        rgba(0, 46.78, 92.44, 0.8) 100%
    );
    border-bottom: 1px white solid;
    backdrop-filter: blur(15px);
    gap: 80px;
    display: flex;
    justify-content: center; /* Căn giữa nội dung */
    align-items: center;
    position: fixed; /* Đảm bảo nav-container luôn nằm trên cùng */
    top: 0;
    left: 0;
    z-index: 3;
}

.nav-item {
    display: flex; /* Đảm bảo sử dụng Flexbox */
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
    padding: 4px;
    gap: 8px;
    white-space: nowrap;
}

.nav-item a {
    text-decoration: none; /* Loại bỏ gạch chân mặc định của thẻ a */
    color: inherit; /* Sử dụng màu chữ của cha */
}
.nav-item.active a {
    position: relative;
}

.nav-item.active a::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px; /* Khoảng cách giữa gạch chân và nav-item */
    width: 110%; /* Chiều dài của gạch chân, lớn hơn nav-item */
    height: 2px;
    background-color: #99ffff; /* Màu gạch chân */
}

.nav-item.active {
    border-bottom-color: #99ffff; /* Màu đường gạch chân khi active */
}

.nav-item.active a {
    color: #99ffff; /* Màu chữ khi active */
}

.nav-item-text {
    color: white;
    font-size: 20px;
    font-family: Philosopher;
    text-transform: uppercase;
    word-wrap: break-word;
}
.nav-item-default a {
    color: white;
}

.nav-icon {
    padding: 4px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: inline-flex;
}

.nav-icon-inner {
    width: 113px;
    height: 72px;
    position: relative;
}

.nav-icon-inner div {
    position: absolute;
}

.nav-icon-blue {
    width: 72.19px;
    height: 72.19px;
    left: 20.76px;
    top: 0px;
    background: #0054a6;
}

.nav-icon-white {
    width: 72.19px;
    height: 72.19px;
    left: 20.76px;
    top: 0px;
    background: white;
}

.nav-icon-border {
    width: 113.25px;
    height: 23.91px;
    left: 0px;
    top: 24.36px;
    background: white;
    border: 0.81px #0054a6 solid;
}

/*home*/
/*conten A*/

.header-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.company-name {
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: Philosopher;
    line-height: 36px;
    word-wrap: break-word;
}

.brand-name {
    color: #99ffff;
    font-size: 44px;
    font-family: Philosopher;
    font-weight: 700;
    letter-spacing: 1.76px;
    word-wrap: break-word;
}

.establishment-date {
    color: white;
    font-size: 24px;
    font-family: Philosopher;
    font-style: italic;
    line-height: 36px;
    word-wrap: break-word;
}

.image-container {
    display: flex;
    white-space: nowrap; /* Đảm bảo các phần tử không bị xuống dòng */
    margin-top: 14px;
}

.image-item {
    position: relative;
    width: 400px;
    height: 544px;
    cursor: pointer;
    transition: transform 2s ease;
}

.image-item img {
    width: 100%; /* Đảm bảo ảnh chiếm toàn bộ kích thước của .image-item */
    height: 100%; /* Đảm bảo ảnh chiếm toàn bộ kích thước của .image-item */
    object-fit: cover; /* Đảm bảo ảnh không bị biến dạng */
}

.text-overlay {
    position: absolute;
    width: 257px;
    height: 69px;
    bottom: 0;
    left: 7%;
    color: white;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 700;
    top: 80%;
    box-sizing: border-box;
    word-wrap: break-word; /* Bẻ gãy từ để xuống dòng */
    white-space: normal; /* Cho phép xuống dòng bình thường */
    z-index: 3;
}
.image-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 2;
    pointer-events: none;
}
.image-item:nth-child(1) {
    top: 20%;
    left: 21.5%;
    transform: perspective(800px) rotateY(30deg) translateZ(-450px);
    transform-origin: center right;
}

.image-item:nth-child(2) {
    top: 20%;
    left: 12%;
    transform: perspective(800px) rotateY(30deg) translateZ(-350px);
    transform-origin: center right;
}
.image-item:nth-child(3) {
    top: 20%; /* Giữ vị trí trung tâm theo chiều dọc */
    left: 10%; /* Đặt ở giữa theo chiều ngang */
    transform: perspective(800px) translateX(-50%) translateZ(0px); /* Đặt ở trung tâm và không thay đổi kích thước */
    transform-origin: center;
    z-index: 2;
}
.image-item:nth-child(4) {
    top: 20%;
    right: 12%;
    transform: perspective(800px) rotateY(-30deg) translateZ(-350px);
    transform-origin: center left;
    z-index: 1;
}

.image-item:nth-child(5) {
    top: 20%;
    right: 21.5%;
    transform: perspective(800px) rotateY(-30deg) translateZ(-450px);
    transform-origin: center left;
}

/*svg box home*/
.custom-container {
    margin-top: 30px; /* Khoảng cách từ phần tử phía trên */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Đảm bảo chiếm toàn bộ chiều rộng */
    box-sizing: border-box; /* Bao gồm padding và border trong chiều rộng và chiều cao */
}
.custom-box {
    cursor: pointer; /* Thay đổi con trỏ khi di chuyển chuột qua */
}

svg {
    pointer-events: auto; /* Đảm bảo rằng SVG có thể nhận được sự kiện chuột */
}
.row {
    margin-top: 50px; /* Để đảm bảo phần tử này không chồng lên phần tử trên */
}
/*content-b*/
/* Container tổng */
.container-custom-2 {
    width: calc(
        100% - 400px
    ); /* Chiều rộng của container trừ đi 200px lề trái và 200px lề phải */
    height: 701px;
    margin: 0 200px; /* Lề trái và phải 200px */
    box-sizing: border-box; /* Đảm bảo padding và border được tính trong kích thước tổng */
    display: flex; /* Sử dụng Flexbox để căn giữa nội dung */
    justify-content: center; /* Căn giữa nội dung theo chiều ngang */
    background-color: rgba(
        255,
        255,
        255,
        0.8
    ); /* Nền màu trắng với độ mờ 80% */
    border-radius: 40px 40px 0 0; /* Bo tròn 2 góc trên */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Tạo hiệu ứng đổ bóng nhẹ cho container */
    margin-top: 154px;
}
/* Row để chứa các box */

/* Cột để chứa các box */
.custom-col {
    display: flex; /* Đảm bảo các phần tử nằm trên cùng một hàng */
    gap: 72px; /* Khoảng cách giữa các phần tử */
    justify-content: center; /* Căn giữa các phần tử con */
}

/* Box với kích thước và kiểu dáng cụ thể */
.box {
    display: flex; /* Sử dụng Flexbox để căn chỉnh nội dung trong box */
    justify-content: center; /* Căn giữa nội dung theo chiều ngang */
    align-items: center; /* Căn giữa nội dung theo chiều dọc */
    border: 1px solid #000; /* Border cho box */
    box-sizing: border-box; /* Đảm bảo padding và border được tính trong kích thước tổng */
}

/* Kích thước của các box */
.box-1 {
    width: 694px;
    height: 535px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    margin-top: -70px;
}

.box-2 {
    width: 619px;
    height: 599px;
}

/* Điều chỉnh cho màn hình nhỏ */
@media (max-width: 768px) {
    .container-custom-2 {
        padding: 0 10px; /* Thêm padding nhỏ cho các màn hình nhỏ */
    }

    .row {
        gap: 20px; /* Khoảng cách nhỏ hơn giữa các box trên màn hình nhỏ */
    }
}
/*box 1*/
.header-section-box-1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header-title {
    text-align: left;
    color: #4d4d4d;
    font-size: 20px;
    font-family: Roboto, sans-serif;
    font-weight: 600;
    word-wrap: break-word;
}

.header-subtitle {
    text-align: left;
    color: #003f7d;
    font-size: 44px;
    font-family: Philosopher;
    font-weight: 700;
    word-wrap: break-word;
}

.header-line {
    width: 154px;
    height: 6px;
    margin-top: -16px;
    background: #003f7d;
    border-radius: 100px;
}

.description-section {
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.description-line {
    width: 2px;
    height: 288px;
    background-color: #6698ca;
    position: absolute; /* Căn chỉnh chính xác trong container */
    left: 0; /* Ví dụ căn chỉnh về bên trái, điều chỉnh nếu cần */
    top: 30%;
}

.description-text {
    width: 675px;
    height: auto;
    color: #333333;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 400;
    word-wrap: break-word;
    text-align: left;
}

.button-section {
    height: 44px;
    width: 153px;
    background: #0054a6;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.button-text {
    color: white;
    font-size: 18px;
    font-family: Roboto;
    font-weight: 600;
    word-wrap: break-word;
}
.description-container {
    display: flex; /* Sử dụng Flexbox để căn chỉnh các phần tử bên trong */
    align-items: center; /* Căn giữa theo chiều dọc */
    gap: 16px; /* Khoảng cách giữa dấu cộng và nội dung */
}

.description-content {
    margin-left: 8px; /* Khoảng cách từ dấu cộng đến nội dung */
}

/* Đảm bảo văn bản có thể bọc dòng */
.description-content span {
    display: block;
    line-height: 1.5; /* Tăng khoảng cách giữa các dòng */
}
/*box 2*
/* Container cho hình ảnh */
.custom-image-wrapper {
    width: 100%;
    height: 100%;
    position: relative; /* Để các hình ảnh con được đặt chính xác */
    margin-top: -2%;
}

/* Hình ảnh đầu tiên */
.img-1 {
    width: 487px;
    height: 311px;
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.25);
    border-radius: 26.71px;
    border: 5px solid white;
}

/* Hình ảnh thứ hai */
.img-2 {
    width: 552px;
    height: 340px;
    position: absolute;
    left: 67px;
    top: 259px;
    background: linear-gradient(0deg, #d9d9d9 0%, #d9d9d9 100%);
    box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.25);
    border-radius: 26.71px;
    border: 5px solid white;
}
