html,
body {
    max-width: 1920px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#bg-video {
    position: fixed;
    /* Đảm bảo video nằm trên */
    top: 0;
    left: 0;
    width: 100%;
    height: 1080px;
    object-fit: cover;
    /* Đảm bảo video bao phủ toàn bộ chiều rộng và chiều cao */
    z-index: 1;
    /* Đảm bảo video nằm trên */
    pointer-events: none;
    /* Đảm bảo video không cản trở thao tác với các phần tử khác */
    overflow: hidden;
}

.scroll-container {
    width: 100%;
    height: 100%;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

}

.scroll-container::-webkit-scrollbar {
    display: none;
}

.container-fixed {
    position: relative;
    z-index: 3;
    width: 100%;
    height: auto;
    /* Đảm bảo nội dung nằm trên video */
    margin-top: 100px;
}

.main-content {
    width: 100%;
    height: auto;
    margin: 0 auto;
    /* Căn giữa container theo chiều ngang */
    overflow: hidden;
    z-index: 3;
}

.container-2 {
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.content-a {
    width: 100%;
    height: 690px;
}

.content-b {
    width: 100%;
    height: 2549px;
}

/* Navigation styles */
.nav-container {
    width: 100%;
    height: 120px;
    padding: 20px 0;
    /* Điều chỉnh padding nếu cần */
    background: linear-gradient(0deg,
            rgba(0, 46.78, 92.44, 0.8) 0%,
            rgba(0, 46.78, 92.44, 0.8) 100%);
    border-bottom: 1px white solid;
    backdrop-filter: blur(15px);
    gap: 80px;
    display: flex;
    justify-content: center;
    /* Căn giữa nội dung */
    align-items: center;
    position: fixed;
    /* Đảm bảo nav-container luôn nằm trên cùng */
    top: 0;
    left: 0;
    z-index: 3;
}

.nav-item {
    display: flex;
    /* Đảm bảo sử dụng Flexbox */
    justify-content: center;
    /* Căn giữa theo chiều ngang */
    align-items: center;
    /* Căn giữa theo chiều dọc */
    padding: 4px;
    gap: 8px;
    white-space: nowrap;
}

.nav-item a {
    text-decoration: none;
    /* Loại bỏ gạch chân mặc định của thẻ a */
    color: inherit;
    /* Sử dụng màu chữ của cha */
}

.nav-item.active a {
    position: relative;
}

.nav-item.active a::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    /* Khoảng cách giữa gạch chân và nav-item */
    width: 110%;
    /* Chiều dài của gạch chân, lớn hơn nav-item */
    height: 2px;
    background-color: #99ffff;
    /* Màu gạch chân */
}

.nav-item.active {
    border-bottom-color: #99ffff;
    /* Màu đường gạch chân khi active */
}

.nav-item.active a {
    color: #99ffff;
    /* Màu chữ khi active */
}

.nav-item-text {
    color: white;
    font-size: 20px;
    font-family: Philosopher;
    text-transform: uppercase;
    word-wrap: break-word;
}

.nav-item-default a {
    color: white;
}

.nav-icon {
    padding: 4px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: inline-flex;
}

.nav-icon-inner {
    width: 113px;
    height: 72px;
    position: relative;
}

.nav-icon-inner div {
    position: absolute;
}

.nav-icon-blue {
    width: 72.19px;
    height: 72.19px;
    left: 20.76px;
    top: 0px;
    background: #0054a6;
}

.nav-icon-white {
    width: 72.19px;
    height: 72.19px;
    left: 20.76px;
    top: 0px;
    background: white;
}

.nav-icon-border {
    width: 113.25px;
    height: 23.91px;
    left: 0px;
    top: 24.36px;
    background: white;
    border: 0.81px #0054a6 solid;
}

/*home*/
/*conten A*/

.header-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.company-name {
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: Philosopher;
    line-height: 36px;
    word-wrap: break-word;
}

.brand-name {
    color: #99ffff;
    font-size: 44px;
    font-family: Philosopher;
    font-weight: 700;
    letter-spacing: 1.76px;
    word-wrap: break-word;
}

.establishment-date {
    color: white;
    font-size: 24px;
    font-family: Philosopher;
    font-style: italic;
    line-height: 36px;
    word-wrap: break-word;
}

.image-container {
    display: flex;
    white-space: nowrap;
    /* Đảm bảo các phần tử không bị xuống dòng */
    margin-top: 14px;
}

.image-item {
    position: relative;
    width: 400px;
    height: 544px;
    cursor: pointer;
    transition: transform 2s ease;
}

.image-item img {
    width: 100%;
    /* Đảm bảo ảnh chiếm toàn bộ kích thước của .image-item */
    height: 100%;
    /* Đảm bảo ảnh chiếm toàn bộ kích thước của .image-item */
    object-fit: cover;
    /* Đảm bảo ảnh không bị biến dạng */
}

.text-overlay {
    position: absolute;
    width: 257px;
    height: 69px;
    bottom: 0;
    left: 7%;
    color: white;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 700;
    top: 80%;
    box-sizing: border-box;
    word-wrap: break-word;
    /* Bẻ gãy từ để xuống dòng */
    white-space: normal;
    /* Cho phép xuống dòng bình thường */
    z-index: 3;
}

.image-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 2;
    pointer-events: none;
}

.image-item:nth-child(1) {
    top: 20%;
    left: 21.5%;
    transform: perspective(800px) rotateY(30deg) translateZ(-450px);
    transform-origin: center right;
}

.image-item:nth-child(2) {
    top: 20%;
    left: 12%;
    transform: perspective(800px) rotateY(30deg) translateZ(-350px);
    transform-origin: center right;
}

.image-item:nth-child(3) {
    top: 20%;
    /* Giữ vị trí trung tâm theo chiều dọc */
    left: 10%;
    /* Đặt ở giữa theo chiều ngang */
    transform: perspective(800px) translateX(-50%) translateZ(0px);
    /* Đặt ở trung tâm và không thay đổi kích thước */
    transform-origin: center;
    z-index: 2;
}

.image-item:nth-child(4) {
    top: 20%;
    right: 12%;
    transform: perspective(800px) rotateY(-30deg) translateZ(-350px);
    transform-origin: center left;
    z-index: 1;
}

.image-item:nth-child(5) {
    top: 20%;
    right: 21.5%;
    transform: perspective(800px) rotateY(-30deg) translateZ(-450px);
    transform-origin: center left;
}

/*svg box home*/
.custom-container {
    margin-top: 30px;
    /* Khoảng cách từ phần tử phía trên */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* Đảm bảo chiếm toàn bộ chiều rộng */
    box-sizing: border-box;
    /* Bao gồm padding và border trong chiều rộng và chiều cao */
}

.custom-box {
    cursor: pointer;
    /* Thay đổi con trỏ khi di chuyển chuột qua */
}

svg {
    pointer-events: auto;
    /* Đảm bảo rằng SVG có thể nhận được sự kiện chuột */
}

.row {
    margin-top: 50px;
    /* Để đảm bảo phần tử này không chồng lên phần tử trên */
}

/*content-b*/
/* Container tổng */
.container-custom-2 {
    width: calc(100% - 400px);
    /* Chiều rộng của container trừ đi 200px lề trái và 200px lề phải */
    height: 701px;
    margin: 0 200px;
    /* Lề trái và phải 200px */
    box-sizing: border-box;
    /* Đảm bảo padding và border được tính trong kích thước tổng */
    display: flex;
    /* Sử dụng Flexbox để căn giữa nội dung */
    justify-content: center;
    /* Căn giữa nội dung theo chiều ngang */
    background-color: rgba(255, 255, 255, 0.8);
    /* Nền màu trắng với độ mờ 80% */
    border-radius: 40px 40px 0 0;
    /* Bo tròn 2 góc trên */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Tạo hiệu ứng đổ bóng nhẹ cho container */
    margin-top: 154px;
}

/* Row để chứa các box */

/* Cột để chứa các box */
.custom-col {
    display: flex;
    /* Đảm bảo các phần tử nằm trên cùng một hàng */
    gap: 72px;
    /* Khoảng cách giữa các phần tử */
    justify-content: center;
    /* Căn giữa các phần tử con */
}

/* Box với kích thước và kiểu dáng cụ thể */
.box {
    display: flex;
    /* Sử dụng Flexbox để căn chỉnh nội dung trong box */
    justify-content: center;
    /* Căn giữa nội dung theo chiều ngang */
    align-items: center;
    /* Căn giữa nội dung theo chiều dọc */
    border: 1px solid #000;
    /* Border cho box */
    box-sizing: border-box;
    /* Đảm bảo padding và border được tính trong kích thước tổng */
}

/* Kích thước của các box */
.box-1 {
    width: 694px;
    height: 535px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    margin-top: -70px;
}

.box-2 {
    width: 619px;
    height: 599px;
}

/* Điều chỉnh cho màn hình nhỏ */
@media (max-width: 768px) {
    .container-custom-2 {
        padding: 0 10px;
        /* Thêm padding nhỏ cho các màn hình nhỏ */
    }

    .row {
        gap: 20px;
        /* Khoảng cách nhỏ hơn giữa các box trên màn hình nhỏ */
    }
}

/*box 1*/
.header-section-box-1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header-title {
    text-align: left;
    color: #4d4d4d;
    font-size: 20px;
    font-family: Roboto, sans-serif;
    font-weight: 600;
    word-wrap: break-word;
}

.header-subtitle {
    text-align: left;
    color: #003f7d;
    font-size: 44px;
    font-family: Philosopher;
    font-weight: 700;
    word-wrap: break-word;
}

.header-line {
    width: 154px;
    height: 6px;
    margin-top: -16px;
    background: #003f7d;
    border-radius: 100px;
}

.description-section {
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.description-line {
    width: 2px;
    height: 288px;
    background-color: #6698ca;
    position: absolute;
    /* Căn chỉnh chính xác trong container */
    left: 0;
    /* Ví dụ căn chỉnh về bên trái, điều chỉnh nếu cần */
    top: 30%;
}

.description-text {
    width: 675px;
    height: auto;
    color: #333333;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 400;
    word-wrap: break-word;
    text-align: left;
}

.button-section {
    height: 44px;
    width: 153px;
    background: #0054a6;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.button-text {
    color: white;
    font-size: 18px;
    font-family: Roboto;
    font-weight: 600;
    word-wrap: break-word;
}

.description-container {
    display: flex;
    /* Sử dụng Flexbox để căn chỉnh các phần tử bên trong */
    align-items: center;
    /* Căn giữa theo chiều dọc */
    gap: 16px;
    /* Khoảng cách giữa dấu cộng và nội dung */
}

.description-content {
    margin-left: 8px;
    /* Khoảng cách từ dấu cộng đến nội dung */
}

/* Đảm bảo văn bản có thể bọc dòng */
.description-content span {
    display: block;
    line-height: 1.5;
    /* Tăng khoảng cách giữa các dòng */
}

/*box 2*
/* Container cho hình ảnh */
.custom-image-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    /* Để các hình ảnh con được đặt chính xác */
    margin-top: -2%;
}

/* Hình ảnh đầu tiên */
.img-1 {
    width: 487px;
    height: 311px;
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.25);
    border-radius: 26.71px;
    border: 5px solid white;
}

/* Hình ảnh thứ hai */
.img-2 {
    width: 552px;
    height: 340px;
    position: absolute;
    left: 67px;
    top: 259px;
    background: linear-gradient(0deg, #d9d9d9 0%, #d9d9d9 100%);
    box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.25);
    border-radius: 26.71px;
    border: 5px solid white;
}

/*box 3**/
/*svg logo*/
.box-3 {
    position: relative;
    z-index: 1;
    width: 1520px;
    height: 829px;
    background-color: rgba(78, 149, 219, 0.7);
    /* Màu xanh biển nhạt với độ trong suốt 30% */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Tạo hiệu ứng đổ bóng nhẹ */
    margin-top: -1.1%;
}

.box-main-container {
    width: 1520px;
    height: auto;
    padding: 33.77px;
    opacity: 0.15;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 84.43px;
    margin-top: -3px;
}

.inner-box {
    width: 954.09px;
    height: 607.92px;
    margin: 0;
    /* Bỏ thuộc tính margin */
    margin-top: -31px;
    margin-left: 50.5%;
    position: relative;
    z-index: 1;
}

.info-share-container {
    width: 803px;
    /* Đặt chiều rộng theo kích thước từ Figma */
    height: 129px;
    /* Đặt chiều cao theo kích thước từ Figma */
    display: flex;
    /* Sử dụng Flexbox để căn chỉnh nội dung */
    z-index: 3;
    /* Đặt thứ tự xếp chồng của phần tử */
    position: absolute;
    /* Đặt vị trí tuyệt đối */
    top: 15%;
    /* Đặt vị trí ở giữa theo chiều dọc */
    left: 50%;
    /* Đặt vị trí ở giữa theo chiều ngang */
    transform: translate(-50%, -50%);
    /* Dịch chuyển về giữa */
}

.background-white {
    margin-top: -49%;
}

.bordered-box {
    margin-top: -40%;
    margin-right: 18.9%;
}

/*des*/

.title-1 {
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 600;
    word-wrap: break-word;
}

.title-2 {
    text-align: center;
    color: #003f7d;
    font-size: 44px;
    font-family: Philosopher;
    font-weight: 700;
    word-wrap: break-word;
}

.separator {
    width: 130px;
    height: 6px;
    background: #003f7d;
    border-radius: 100px;
}

.description {
    color: #f0f0f0;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 400;
    word-wrap: break-word;
    white-space: nowrap;
}

/*box card*/
.negative-margin-top {
    margin-top: -37%;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* or any specific height you need */
}

.button-text-2 {
    background-color: #0054a6;
    color: white;
    padding: 10px 28px;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    font-weight: 600;
}

.button-wrapper {
    margin-top: -32%;
    margin-left: -3%;
}

.text-custom-primary {
    color: #0054a6;
}

.text-container {
    text-align: left;
    /* Align text to the left */
}

.custom-badge-container {
    width: auto;
    height: auto;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    background: #e6eef7;
    border-radius: 46px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: inline-flex;
}

.card-img-custom {
    width: 361px;
    height: 197px;
    object-fit: cover;
    /* Ensures the image covers the area without distortion */
}

/*box 4*/
.container-box {
    display: flex;
    justify-content: center;
    /* Căn giữa theo chiều ngang */
    align-items: center;
    /* Căn giữa theo chiều dọc */
}

.box-4 {
    position: relative;
    width: 694px;
    height: 535px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
}

.container-custom-3 {
    width: calc(100% - 400px);
    /* Chiều rộng của container trừ đi 200px lề trái và 200px lề phải */
    height: auto;
    margin: 0 200px;
    /* Lề trái và phải 200px */
    box-sizing: border-box;
    /* Đảm bảo padding và border được tính trong kích thước tổng */
    display: flex;
    /* Sử dụng Flexbox để căn giữa nội dung */
    justify-content: center;
    /* Căn giữa nội dung theo chiều ngang */
    background-color: rgba(255, 255, 255, 0.8);
    /* Nền màu trắng với độ mờ 80% */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Tạo hiệu ứng đổ bóng nhẹ cho container */
}

.title-3 {
    text-align: center;
    color: #4d4d4d;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 600;
    word-wrap: break-word;
}

.description-1 {
    color: #4d4d4d;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 400;
    word-wrap: break-word;
    white-space: nowrap;
}

.separator-1 {
    width: 222px;
    height: 6px;
    background: #003f7d;
    border-radius: 100px;
}

/*box card 4*/
.container-custom-margin {
    margin-top: -35%;
}

.card-custom {
    width: 362px;
    height: 359px;
    border-radius: 12px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.card-img-top-custom {
    width: 100%;
    height: 197px;
    object-fit: cover;
}

.card-title-custom {
    color: #0054a6;
    font-size: 20px;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    text-align: center;
    word-wrap: break-word;
}

.card-text-custom {
    color: #666666;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    line-height: 21px;
    word-wrap: break-word;
    text-align: center;
}

.card-img-top-custom {
    width: 362px;
    height: 197px;
    object-fit: cover;
}

/*container*/
.container-footer {
    position: relative;
    /* Để có thể sử dụng thuộc tính top */
    margin-top: -14.7%;
    background: linear-gradient(0deg,
            rgba(0, 37, 73, 0.8) 0%,
            rgba(0, 37, 73, 0.8) 100%);
}

/* bài viêt*/
.container-fluid {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: -15%;
    margin-bottom: 48px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.rotated-box {
    width: 386px;
    height: 106px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-box {
    position: absolute;
    color: #0054a6;
    font-size: 40px;
    font-family: "Philosopher", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 80px;
    white-space: nowrap;
}

.content-section-1 {
    margin-left: 200px;
    display: flex;
    /* Sử dụng Flexbox để sắp xếp các phần tử con theo hàng */
    align-items: flex-start;
    /* Căn giữa các phần tử con theo chiều dọc */
    width: 100%;
    /* Đảm bảo phần tử chiếm toàn bộ chiều ngang của phần tử chứa */
    margin-top: -20%;
    /* Điều chỉnh khoảng cách phía trên nếu cần */
    margin-bottom: 20%;
    /* Điều chỉnh khoảng cách phía dưới nếu cần */
    gap: 24px;
    /* Giảm khoảng cách giữa các phần tử con */
    position: relative;
    z-index: 1;
}

.container-custom-4,
.container-custom-5 {
    box-sizing: border-box;
    /* Đảm bảo padding và border được tính trong kích thước tổng */
    display: flex;
    /* Sử dụng Flexbox để căn giữa nội dung bên trong */
    justify-content: center;
    /* Căn giữa nội dung theo chiều ngang */
    background-color: rgba(255, 255, 255, 0.8);
    /* Nền màu trắng với độ mờ 80% */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Tạo hiệu ứng đổ bóng nhẹ cho container */
    margin: 0;
    /* Đặt lại margin để không gây vấn đề */
    padding: 0;
    /* Đặt padding về 0 nếu có */
    border: none;
    /* Đặt border về none nếu có */
    /* position: relative;
    z-index: 3; */


}


.container-custom-4 {
    width: 1134px;
    height: 604px;
    position: relative;
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    overflow: hidden;
    backdrop-filter: blur(15px);
    position: relative;
    z-index: 1;
}

.header-section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Căn giữa nội dung theo chiều dọc */

}

.background-container {
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
}

.carousel-container {
    width: 1134px;
    height: 386px;
    position: absolute;
    top: 0;
    display: flex;
    gap: 0;
}

.carousel-item {
    width: 1134px;
    height: 386px;
    display: none;
    align-items: center;
    justify-content: center;
    position: relative;
}

.carousel-item.active {
    display: block;
    /* Show the active item */
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gradient-overlay {
    width: 1134px;
    height: 386px;
    background: linear-gradient(0deg,
            rgba(0, 0, 0, 0.2) 0%,
            rgba(0, 0, 0, 0.2) 100%);
}

.indicator-container {
    position: absolute;
    left: 1010px;
    top: 560px;
    display: flex;
    gap: 12px;
    align-items: center;
    /* Đảm bảo căn chỉnh theo chiều dọc */
}

.indicator {
    width: 16px;
    height: 16px;
    /* Đặt chiều cao bằng chiều rộng */
    background: white;
    border-radius: 50%;
    border: 1px #0054a6 solid;
    backdrop-filter: blur(30px);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.indicator svg {
    width: 28px;
    height: 28px;
}

.indicator.active {
    width: 28px;
    height: 28px;
    background: none;
    border: none;
    color: white;
}

.controls-container {
    position: absolute;
    left: 1050px;
    top: 405px;
    display: flex;
    gap: 4px;
}

.control-left,
.control-right {
    width: 28px;
    height: 28px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.text-container-custom-3 {
    width: 845px;
    height: auto;
    position: absolute;
    top: 410px;
    left: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.title-container-custom-3 {
    color: #0054a6;
    font-size: 38px;
    font-family: Philosopher;
    font-weight: 700;
    word-wrap: break-word;
}

.description-container-custom-3 {
    color: #4d4d4d;
    font-size: 18px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 27px;
    word-wrap: break-word;
    height: 82px;
}

.custom-text {
    color: #0054a6;
    font-size: 24px;
    font-weight: 700;
    font-family: Roboto;
    word-wrap: break-word;
    margin-left: 24px;
}

/*card*/
.header-section-2 {
    border-radius: 15px;
    /* Bo góc của phần tử */
    overflow: hidden;

}

.container-custom-5 {
    width: 362px;
    height: 604px;
}

.container-card {
    width: 100%;
    height: 604px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    position: relative;


}

.container-card::-webkit-scrollbar {
    display: none;
}

.card-container {
    width: 314px;
    height: 102px;
    margin-bottom: 20px;
    padding-right: 12px;
    background: white;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.10);
    border-radius: 4px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    /* Hiển thị con trỏ khi di chuột qua các thẻ card */
}

.card-container:hover {
    background: #e0e0e0;
    /* Màu nền khi hover */
}

.line-card {
    width: 4px;
    height: 98px;
    background-color: #6698CA;
    border-radius: 4px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    margin-top: 0;
    margin-left: 49%;
    cursor: pointer;
    z-index: 3;
}

.image-container-1 {
    width: 104px;
    height: 102px;
    background: #CCCCCC;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

.image-container-1 img {
    width: 104px;
    height: 102px;
    object-fit: cover;
}

.content-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    display: inline-flex;
}

.title-card {
    width: 186px;
    color: #666666;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 700;
    word-wrap: break-word;
}

.info-container {
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    display: inline-flex;
}

.info-item {
    color: #858585;
    font-size: 12px;
    font-family: Roboto;
    font-weight: 400;
    word-wrap: break-word;
}

.dot {
    width: 3px;
    height: 3px;
    background: #858585;
    border-radius: 9999px;
}



.content-section-2 {
    width: 1520px;
    height: 1108px;
    position: relative;
    margin-left: 200px;
    margin-top: -19%;
    margin-bottom: 16%;
}

.container-custom-6,
.container-custom-7,
.container-custom-8 {
    background-color: rgba(255, 255, 255, 0.8);
    /* Nền màu trắng với độ mờ 80% */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Đổ bóng */
    position: absolute;
    /* Để sử dụng left và top */
    border-radius: 10px;
}

.container-custom-6 {
    width: 1134px;
    height: 80px;
    top: 0;
    margin-left: 386px;
}

.container-custom-7 {
    width: 362px;
    height: 1028px;
    top: 0;
    left: 0;
}

.container-custom-8 {
    width: 1134px;
    height: 1004px;
    top: 100px;
    left: 386px;
    /* 362px (container-custom-7 width) + 24px (gap) */
}

.box-custom-1 {
    width: 314px;
    height: 40px;
    margin-left: 20px;
    margin-top: 20px;
}

.box-custom-2 {
    display: flex;
    align-items: center;
    gap: 8px;
}

.box-custom-3 {
    width: 314px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.inner-container {
    width: 314px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.search-box {
    width: 314px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    border-radius: 6px;
    padding: 10px 16px;
}

.search-icon {
    display: flex;
    gap: 10px;
}

.outer-box {
    width: 24px;
    height: 24px;
    position: relative;
}

.small-box {
    width: 4px;
    height: 4px;
    border: 1.5px #0054A6 solid;
}

.search-text {
    color: #A3A3A3;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 21px;
    word-wrap: break-word;
    margin-top: 4%;
}

.hidden-icon {
    width: 24px;
    height: 24px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.small-inner-box {
    width: 8px;
    height: 8px;
    border: 1.5px #666666 solid;
}

.recent-search-container {
    align-self: stretch;
    height: auto;
    padding: 12px 7px;
    background: white;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    z-index: 2;
    display: none;
}

.recent-search-header {
    padding: 0 9px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.recent-search-title {
    color: #4D4D4D;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    font-weight: 600;
    word-wrap: break-word;
}

.recent-search-list {
    align-self: stretch;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
}

.recent-search-item {
    align-self: stretch;
    padding: 8px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.search-text {
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 400;
    color: #4D4D4D;
    padding: 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}


.search-item-long {
    padding-right: 82px;
    justify-content: flex-start;
    align-items: center;
}

.search-item-icon {}

.box-custom-3 {
    width: 322px;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    margin-left: 60%;
    margin-top: -3%;
}

.date-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    margin-top: -2%;
}

.date-box {
    width: 150px;
    display: flex;
    justify-content: center;
    /* Center the input */
    align-items: center;
    padding: 8px 12px;
    border-radius: 6px;
    overflow: hidden;
    margin-top: -2%;
}


.input-container {
    position: relative;
    width: 100%;
}

.small-box-1 {
    margin-left: 3%;
}

#dateInput {
    width: 150px;
    /* Đảm bảo không gian cho biểu tượng */
    padding-right: 40px;
    /* Khoảng trống cho biểu tượng */
    border: none;
    /* Loại bỏ viền */
    border-radius: 4px;
    /* Bo tròn góc */

    box-shadow: none;
    /* Loại bỏ bóng đổ */
    outline: none;
    /* Loại bỏ viền khi focus */
}
#dateInput {
    width: 150px;
    /* Đảm bảo không gian cho biểu tượng */
    padding-right: 40px;
    /* Khoảng trống cho biểu tượng */
    border: none;
    /* Loại bỏ viền */
    border-radius: 4px;
    /* Bo tròn góc */

    box-shadow: none;
    /* Loại bỏ bóng đổ */
    outline: none;
    /* Loại bỏ viền khi focus */
}
#dateInput2 {
    width: 150px;
    /* Đảm bảo không gian cho biểu tượng */
    padding-right: 40px;
    /* Khoảng trống cho biểu tượng */
    border: none;
    /* Loại bỏ viền */
    border-radius: 4px;
    /* Bo tròn góc */

    box-shadow: none;
    /* Loại bỏ bóng đổ */
    outline: none;
    /* Loại bỏ viền khi focus */
}
#calendarIcon {
    position: absolute;
    left: 85%;
    /* Đặt biểu tượng bên trong input */
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #0054A6;
    cursor: pointer;
    /* Thay đổi con trỏ khi di chuột */
}

#calendarIcon2 {
    position: absolute;
    left: 85%;
    /* Đặt biểu tượng bên trong input */
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #0054A6;
    cursor: pointer;
    /* Thay đổi con trỏ khi di chuột */
}

/* CSS cho Bootstrap Datepicker */
.datepicker-dropdown:before,
.datepicker-dropdown.datepicker-orient-bottom:before,
.datepicker-dropdown.datepicker-orient-left:before,
.datepicker-dropdown:after {
    display: none !important;
}

/* .datepicker {
    position: absolute;
    width: 322px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-left: 0.1%;
      padding: 20px;
       top: 100%;
        
    } */


.datepicker {
    width: 322px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    position: absolute;
    /* Đảm bảo datepicker được đặt cố định */
    top: 100%;
    /* Đặt datepicker ngay bên dưới input */
    left: 0;
    z-index: 1;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.datepicker-days {
    margin-top: -9%;
    width: 100%;
}

.datepicker td {
    text-align: center;
    /* Căn giữa văn bản trong ô */
}

.datepicker table {
    width: 100%;
    /* Đảm bảo ngày trong bảng chiếm toàn bộ chiều rộng của datepicker */
}

.datepicker-days {
    width: 100%;
}

.datepicker-months {
    width: 100%;
}

.datepicker-years {
    width: 100%;
}

.datepicker-days thead th:nth-child(1) {
    /* Mo */
    content: "Mo";
}

.datepicker-days thead th {
    color: #0054A6;
    /* Màu chữ */
    font-family: Roboto;
    font-weight: 700;

}

.datepicker-days thead th:nth-child(2) {
    /* Tu */
    content: "Tu";
}

.datepicker-days thead th:nth-child(3) {
    /* We */
    content: "We";
}

.datepicker-days thead th:nth-child(4) {
    /* Th */
    content: "Th";
}

.datepicker-days thead th:nth-child(5) {
    /* Fr */
    content: "Fr";
}

.datepicker-days thead th:nth-child(6) {
    /* Sa */
    content: "Sa";
}

.datepicker-days thead th:nth-child(7) {
    /* Su */
    content: "Su";
}

.datepicker .prev svg,
.datepicker .next svg {
    width: 24px;
    height: 24px;
    stroke: #8899a4;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: arcs;
}

.datepicker .prev svg path,
.datepicker .next svg path {
    fill: none;
}

.datepicker td.day {
    color: #4D4D4D;
    /* Màu chữ mặc định */
}

th.datepicker-switch {
    padding: 20px;
}

.datepicker-days thead th.dow {

    position: relative;
    /* Để đường viền được căn chỉnh chính xác */
    border-top: 2px solid #4D4D4D;
    /* Đường viền trên với màu sắc mong muốn */
    padding-top: 20px;
}

.datepicker-days thead th {
    color: #0054A6;
    /* Màu chữ */
    font-family: Roboto;
    font-weight: 700;
}

.datepicker table tr td.today {
    background-color: #0054A6;
    /* Màu nền cho ngày hiện tại */
    color: white;
    /* Màu chữ cho ngày hiện tại */
    border-color: #0054A6;
    /* Đường viền của ô ngày hiện tại */
}

.datepicker table tr td.today,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover,
.datepicker table tr td.today:hover {
    background-image: none;
    /* Loại bỏ gradient */
    filter: none;
    /* Loại bỏ bộ lọc gradient cũ */
    border-color: none;
    /* Loại bỏ đường viền cũ */
    color: none;
    /* Đặt màu chữ mặc định nếu cần */
}

.datepicker td.day:hover {
    background-color: #ccc;
    /* Màu nền khi hover */
    color: #0054A6;
    /* Màu chữ khi hover */
}